*.class
Homunculus-html/gwt-unitCache/*
Homunculus-html/war/*
Homunculus-html/bin
Homunculus-desktop/bin
Homunculus-android/bin
Homunculus/bin
.metadata/
.metadata/*
.metadata/.*

# Package Files #
*.jar
*.war
*.ear